name: ci
on: [push, pull_request]

jobs:
  check:
    name: Check build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: "armv7a-none-eabihf"
      - run: just check zynq
      - run: just check tools
      - run: just check zynq7000-boot-image

  build:
    name: Check build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: "armv7a-none-eabihf"
      - run: just build zynq
      - run: just build tools
      - run: just build zynq7000-boot-image

  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
          targets: "armv7a-none-eabihf"
      - run: just fmt zynq
      - run: just fmt tools
      - run: just fmt zynq7000-boot-image

  docs:
    name: Check Documentation Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src
          targets: "armv7a-none-eabihf"
      - run: just docs-zynq

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rust-src
          targets: "armv7a-none-eabihf"
      - run: just clippy zynq

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: just clippy tools
      - run: just clippy zynq7000-boot-image
