name: ci
on: [push, pull_request]

jobs:
  check:
    name: Check build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: "armv7a-none-eabihf"
      - run: just check firmware
      - run: just check host

  build:
    name: Check build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: "armv7a-none-eabihf"
      - run: just check firmware
      - run: just check host

  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
          targets: "armv7a-none-eabihf"
      - run: just check-fmt firmware
      - run: just check-fmt host

  docs:
    name: Check Documentation Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src
          targets: "armv7a-none-eabihf"
      - run: just docs-zynq

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rust-src
          targets: "armv7a-none-eabihf"
      - run: just clippy firmware

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: just clippy host
